.hero {
  background: white;
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  margin-top: 50px;
  margin-bottom: 0;
}

.hero-container {
  min-height: 60vh;
  width: 100%;
  margin: 0 auto;
  padding: 6rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.hero-content {
  flex: 1;
  margin-top: 0;
  max-width: 700px;
}

.hero-content h1 {
  font-size: 6.4rem;
  font-weight: 300;
  color: #041137;
  line-height: 0.98;
  margin-bottom: 1.5rem;
  font-family: "DM Sans", Arial, sans-serif;
}

.hero-content p {
  font-weight: 400;
  height: 150px;
  font-size: 28px;
  width: 550px;
  color: #041137;
  line-height: 38px;
  font-family: "DM Sans", Arial, sans-serif;
  margin-bottom: -20px;
}

.hero-signup-link {
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.hero-signup-button {
  background-color: rgb(3, 205, 255);
  color: #041137;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "DM Sans", Arial, sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: -80px;
}

.hero-signup-button:hover {
  background-color: #e5e7eb;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.hero-image img {
  border-radius: 5px;
  max-width: 100%;
  max-height: 100vh;
  height: auto;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .hero-content h1 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 6rem 2rem 3rem;
  }

  .hero-container {
    flex-direction: column;
    text-align: center;
    gap: 3rem;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-image {
    order: -1;
  }

  .hero-image img {
    max-width: 80%;
  }
}
